<?xml version="1.0"?>
<ruleset name="GlotStat">
	<description>Coding standards for the GlotStat plugin.</description>

	<file>.</file>

	<exclude-pattern>*/build/*</exclude-pattern>
	<exclude-pattern>*/deploy/*</exclude-pattern>
	<exclude-pattern>*/languages/*</exclude-pattern>
	<exclude-pattern>*/node_modules/*</exclude-pattern>
	<exclude-pattern>*/tests/*</exclude-pattern>
	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>*lib/*</exclude-pattern>
	<exclude-pattern>*\.(css|js)</exclude-pattern>

	<!-- Prevent errors caused by WordPress Coding Standards not supporting PHP 8.0+. -->
	<ini name="error_reporting" value="E_ALL &#38; ~E_DEPRECATED" />

	<arg name="basepath" value="."/>
	<arg name="colors"/>
	<arg value="sp"/>
	<arg name="extensions" value="php"/>
	<arg name="parallel" value="8"/>

	<config name="minimum_supported_wp_version" value="6.9"/>
	<config name="testVersion" value="7.4-"/>
	<config name="ignore_warnings_on_exit" value="1"/>

	<!-- Don't fail on files with no code. -->
	<rule ref="Internal.NoCodeFound">
		<severity>0</severity>
	</rule>

	<rule ref="NilambarCodingStandard"/>

	<rule ref="WordPress-Core">
		<exclude name="Universal.Arrays.DisallowShortArraySyntax"/>
		<exclude name="WordPress.PHP.DevelopmentFunctions"/>
		<exclude name="Generic.CodeAnalysis.UnusedFunctionParameter"/>
	</rule>

	<!-- Enforce short arrays. -->
	<rule ref="Generic.Arrays.DisallowLongArraySyntax"/>

	<rule ref="WordPress-Docs" />

	<rule ref="WordPress-Extra">
		<!-- Forget about file names -->
		<exclude name="WordPress.Files.FileName"/>

		<!-- Allow WP global modification -->
		<exclude name="WordPress.WP.GlobalVariablesOverride.Prohibited"/>

		<!-- This nonce sniff almost never works right -->
		<exclude name="WordPress.Security.NonceVerification.Missing"/>

		<!-- Remove nonce notice -->
		<exclude name="WordPress.Security.NonceVerification.Recommended"/>
	</rule>

	<rule ref="WordPress.WhiteSpace.ControlStructureSpacing">
		<properties>
			<property name="blank_line_check" value="true"/>
		</properties>
	</rule>

	<!-- Sometimes we need to override globals -->
	<rule ref="WordPress.WP.GlobalVariablesOverride.OverrideProhibited">
		<type>warning</type>
	</rule>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="glotstat"/>
			</property>
		</properties>
	</rule>

	<rule ref="WordPress.Utils.I18nTextDomainFixer">
		<properties>
			<property name="old_text_domain" type="array">
				<element value="" />
			</property>
			<property name="new_text_domain" value="glotstat" />
		</properties>
	</rule>
</ruleset>
